:host {
  display: block;
}

.home-news-content {
  background: linear-gradient(135deg, #3a5180 0%, #04799c 100%);
  color: #fff;

  &.mt-ncs {
    margin-top: -17px; // Adjust this value to remove the whitespace
  }
}

.search-form-wrapper {
  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 1rem;
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:focus-within {
    background: rgba(255, 255, 255, 0.15);
    transform: translateY(-2px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  }

  ::ng-deep {
    .form-control {
      height: 60px;
      font-size: 1.2rem;
      border-radius: 0.75rem;
      padding-left: 1.5rem;
      border: none;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    }

    .btn-primary {
      padding-left: 2rem;
      padding-right: 2rem;
      border-radius: 0.75rem;
      font-weight: bold;
    }
  }
}

.card-link-custom {
  text-decoration: none;
  display: block;
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;

  .bg-white {
    transition: background-color 0.2s ease;
    background-color: rgba(255,
        255,
        255,
        0.9) !important; // Slightly more transparent
  }

  .icon-box {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    transition: transform 0.2s ease;
  }

  // Brand color overrides for icons
  .text-brand-1 {
    color: #4a90e2 !important;
  }

  // Modern Blue
  .text-brand-2 {
    color: #a370f7 !important;
  }

  // Modern Purple
  .text-brand-3 {
    color: #27ae60 !important;
  }

  // Modern Green
  .text-brand-4 {
    color: #eb5757 !important;
  }

  // Modern Red

  .bg-light-custom {
    background-color: #f8f9fa;
  }

  .chevron-icon {
    opacity: 0;
    transform: translateX(-10px);
    transition: all 0.2s ease;
    color: #66686a !important; // Grey
  }

  &:hover {
    transform: translateY(-3px);

    .bg-white {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
      background-color: #ffffff !important;
    }

    .icon-box {
      transform: scale(1.1);
    }

    .chevron-icon {
      opacity: 1;
      transform: translateX(0);
    }
  }
}